/**
 * This is free and unencumbered software released into the public domain.
 *  See UNLICENSE.txt
 */

body {
    background-color: #000;
    color: #eee;
    font-family: "Helvetica", sans-serif;
}

a {
    color: goldenrod;
}

.hundo {
    display: inline-block;
}

.console {

    float: left;
}

.text {
    font-size: 16px;
}

.levelUrl {
    font-size: 20px;
}

.button {
    position: relative;
    top: -3px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: : 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-right: 3px;
    margin-top: 10px;
    border: 1px;
    background-color: #fff;
}

.palette {
    padding-top: 10px;
    padding-bottom: 10px;
}